@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

section {
  padding-top: 6rem;  /* Matches Bold spacing */
  padding-bottom: 6rem;
}
